.works {
  padding: 100px 0px;
  text-align: center;
}

/* HEADER */

.works-header {
  margin-bottom: 50px;

  h2 {
    font-size: 48px;
    margin-bottom: 10px;
  }

  p {
    color: #666;
  }
}

/* FILTER */

.works-filter {
  margin-bottom: 60px;

  .filter-btn {
    padding: 10px 25px;
    margin: 5px;
    border: 2px solid #00c4a7;
    background: transparent;
    cursor: pointer;
    border-radius: 4px;
  }

  .filter-btn.active {
    background: #00c4a7;
    color: white;
  }

  .grid {
    width: 50px;
  }
}

/* GRID */

.works-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  padding-bottom: 120px;
}

/* ITEM */

.works-item {
  position: relative;
  overflow: hidden;
}

/* IMAGE */

.works-image img {
  width: 100%;
  display: block;
}

/* OVERLAY */

.works-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,196,167,.85);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: .4s;
}

.works-item:hover .works-overlay {
  opacity: 1;
}

/* PLUS ICON */

.plus {
  width: 60px;
  height: 60px;
  background: white;
  color: #00c4a7;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
/* LIGHTBOX */

.works-lightbox{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.lightbox-image{
  max-width: 80%;
  max-height: 80%;
}

.lightbox-close{
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}

.lightbox-prev,
.lightbox-next{
  position: absolute;
  top: 50%;
  font-size: 50px;
  color: white;
  cursor: pointer;
  user-select: none;
}

.lightbox-prev{
  left: 40px;
}

.lightbox-next{
  right: 40px;
}